<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retailer Stores Locations </title>
</head>
<body>
<h1>Store Locations</h1>
<form action="">
     <label for="retailers">Retailer:</label>
     <select id="retailers" name="retailers">
        <option disabled="true" selected>---Select Retailer---</option>
        {% for result in retailers %}
         <option>{{result.retailer_name}}</option>
         {% endfor %}
     </select>

     <br><br>

     <label for="regions">Region:</label>
     <select id="regions" name="regions">
        <option disabled="true" selected>---Select Region---</option>
        {% for result in regions %}
         <option>{{result.region_name}}</option>
         {% endfor %}
     </select>
</form>
</body>
</html>